@import 'https://fonts.googleapis.com/css?family=Lato';
@import 'https://fonts.googleapis.com/css?family=Rubik:900i';

html {
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    background-color: #EEEE;
}

body {
    color: #E4F1FE;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin-top: 0px;
}

h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 100px;
    margin-bottom: -5px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 25px;
}

.mainBody {
    text-align: center;
    height: 100vh;
    border-bottom: 300px solid transparent;
}

.mainText {
    height: 100vh;
    line-height: 85vh;
    box-shadow: 5px 0 70px black;
    z-index: 100;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 1s;
}

@media(max-width: 600px) {
    .mainText h2 {
        font-size: 60px;
    }
    
    .dQuote {
        font-size: 20px;
    }
    
    .dCharacter {
        font-size: 18px;
    }
    
    .dAnime {
        font-size: 18px;
    }
}

@media (max-width: 992px) {
    .mainText {
        box-shadow: none;
    }
    
    .mainText h2 {
        font-size: 80px;
    }
    
    .dQuote {
        font-size: 30px;
    }
    
    .dCharacter {
        font-size: 20px;
    }
    
    .dAnime {
        font-size: 20px;
    }
}

.mainBack {
    height: 100vh;
    position: relative;
    background-color: rgba(34, 49, 63, 0.95);
    transition: all 1s;
}

@media (max-width: 992px) {
    .mainBack {
        background-color: rgba(34, 49, 63, 0.85);
    }
}

.mainQuote {
    margin-left: 10px;
    margin-right: 10px;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    transition: all 1s;
}

.dQuote {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 70px;
}

@media (max-width: 600px) {
    .mainBack{
        transition: none;
    }
    .mainText {
        transition: none;
    }
    .mainQuote {
        transition: none;
    }
    .mainImage {
        display: none;
    }
}

@media (min-width: 992px) {
    .mainImage {
        height: 100vh;
        background-position: center;
        background-image: url(test.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        transition: all 1s;
    }
    
    .mainImage:hover {
        transform: scale(1.1);
    }
    
    .mainText {
        background-position: left;
    }
}

footer {
    position: relative;
    z-index: 200;
    background-color: #2C3E50;
}

.innerFoot {
    padding: 20px 0 0 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.innerFoot h2 {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin-top: -16px;
    margin-bottom: 25px;
}

.innerFoot a {
    text-decoration: none;
    color: #E4F1FE;
}

.credit {
    text-align: right;
    right: 20px;
}

.logo {
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .desc {
        max-width: 200px;
    }
    .credit {
        text-align: left;
    }
}

@media (max-width: 400px) {
    .desc {
        max-width: 100px;
    }
    .credit {
        text-align: left;
    }
}

.col-xs-8, 
.col-md-8,
.col-xs-4,
.col-md-4,
.col-sm-12,
.col-xs-12,
.col-sm-4 {
   padding: 0 !important;
   margin: 0 !important;
}